@media (max-width: 900px) {
  body {
    background-color: var(--cream-dark);
  }

  main {
    max-width: 90%;
    padding: 0;
  }
  a.nav-link.active {
    padding: 0;
    font-size: 1em;
  }
  .navbar-toggler {
    border: none;
    color: var(--green);
  }
  .navbar-nav .nav-link.active {
    font-size: 1.2em;
  }
  .introduction {
    margin: 0 1em;
  }

  h4 {
    margin: 1.5em 2em;
  }
  hr {
    width: 25%;
  }
  .city {
    font-size: 1.5em;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 2em;
    height: 2em;
  }

  section {
    max-width: 100%;
  }
  .myButton {
    color: black;
    padding: 0.5em 2.5em;
  }

  ol {
    padding-left: 0rem;
    margin: 0 1em;
  }
  footer {
    margin-bottom: 0.5em;
  }
  footer svg {
    margin-top: 3em;
    stroke: var(--green);
  }
  .library,
  .library a {
    color: var(--green);
  }
}
