:root {
  --green: #678d58;
  --cream: #f6e7cb;
  --lightgreen: #a6c48a;
  --red: #dd9787;
  --hover: var(--cream);
}

body {
  background-color: var(--green);
  font-family: "Crimson Text", serif;
}
nav {
  position: absolute;
  left: 20%;
  margin-top: 1em;
}

.navbar a {
  font-size: 0.9em;
}
.navbar-nav .nav-link.active {
  color: var(--cream);
  font-size: 1.2em;
}

.navbar-nav .nav-link:hover {
  color: var(--red);
  transition: color 0.5s ease-in-out;
}
main {
  background-color: #f6ead5;
  max-width: 60%;
  display: block;
  margin: 0 auto;
  padding: 3em;
  border-radius: 0.5em;
}

section {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  margin-top: 1.5em;
}

h1,
h4,
.city {
  color: #283521;
  font-weight: 600;
}

h1,
h4 {
  font-family: "Lato", sans-serif;
  text-align: center;
  margin: 1.2em;
}

p {
  display: block;
  margin: 0 auto;
  margin-top: 1em;
}
.introduction {
  margin: 0 6em;
}
hr {
  outline: none;
  border-top: 1.5px solid var(--green);
  width: 15%;
  opacity: 0.8;
  margin: 0 auto;
  margin-bottom: 2em;
}

.city {
  text-align: center;
  font-size: 1.8em;
  margin-top: 1em;
}
.carousel-inner,
.card {
  border-radius: 0.5em;
}

p.card-text {
  margin-top: 0;
  font-size: 1.3em;
}
.card {
  background-color: #f6e7cb;
}

.card img {
  max-height: 50%;
}
.description {
  font-size: 0.8em;
}

.myButton {
  border: none;
  background-color: var(--lightgreen);
  font-weight: 500;
  padding: 0.5em 2em;
  border-radius: 0.25em;
  margin-top: 1em;
}
ol {
  list-style: none;
}
ol svg.lucide,
.getInvolved svg.lucide {
  width: 1.5em;
  height: 1.5em;
}
ol svg.lucide {
  stroke: var(--green);
}
.getInvolved svg.lucide {
  stroke: var(--red);
}

.footer {
  text-align: center;
}
footer svg {
  transition: color 0.5s ease-in-out;
}
footer a {
  text-decoration: none;
}
footer svg.lucide:hover {
  stroke: var(--red);
}
footer svg.lucide {
  stroke: var(--cream);
  margin-top: 4em;
  margin-left: 0.5em;
  margin-bottom: 1em;
  width: 2.5em;
  height: 2.5em;
  stroke-width: 1.5px;
  transition: stroke 0.7s ease-in-out;
}
.library {
  color: black;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.library a {
  color: black;
}
