:root {
  --green: #678d58;
  --green-dark: #283521;

  --cream: #f6ead5;
  --cream-dark: #f5e4c5;

  --red: #dd9787;
  --red-light: #e1a294;
  --hover: var(--cream);
}

body {
  background-color: var(--green);
  font-family: "Crimson Text", serif;
}
nav {
  margin-left: 1em;
  margin-bottom: 2em;
}
.navbar-toggler {
  color: transparent !important;
  border: none;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23678d58' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-chevron-right'%3E%3Cline x1='4' x2='20' y1='12' y2='12'/%3E%3Cline x1='4' x2='20' y1='6' y2='6'/%3E%3Cline x1='4' x2='20' y1='18' y2='18'/%3E%3C/svg%3E");
}

.navbar-toggler-icon.new-background {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23678d58' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-chevron-right'%3E%3Cpath d='M18 6 6 18'/%3E%3Cpath d='m6 6 12 12'/%3E%3C/svg%3E");
}

.navbar-nav .nav-link.active {
  color: var(--green);
  font-size: 1.4em;
}

.navbar-nav .nav-link:hover {
  color: var(--red);
  transition: color 0.5s ease-in-out;
}
main {
  background-color: var(--cream-dark);
  max-width: 60%;
  display: block;
  margin: 0 auto;
  margin-top: 2.5em;
  padding: 3em;
  border-radius: 0.5em;
}

section {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  margin-top: 1.5em;
}

h1,
h4,
.city {
  color: var(--green-dark);
  font-weight: 600;
}

h1,
h4 {
  font-family: "Lato", sans-serif;
  text-align: center;
}
h4 {
  margin-top: 1.5em;
}

p {
  display: block;
  margin: 0 auto;
}
.introduction {
  margin: 0 4em;
}
hr {
  outline: none;
  border-top: 1.5px solid var(--green);
  width: 15%;
  opacity: 0.8;
  margin: 1.5em auto;
}

.city {
  text-align: center;
  font-size: 1.8em;
  margin-top: 1em;
}
button.carousel-control-prev,
button.carousel-control-next {
  opacity: 1;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-chevron-right'%3E%3Cpath d='m9 18 6-6-6-6'/%3E%3C/svg%3E");
  width: 3em;
  height: 3em;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-chevron-left'%3E%3Cpath d='m15 18-6-6 6-6'/%3E%3C/svg%3E");
  width: 3em;
  height: 3em;
}

.carousel-inner,
.card {
  border-radius: 0.5em;
}

p.card-text {
  font-size: 1.2em;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.card {
  background-color: var(--cream);
  border: none;
}

.card img {
  max-height: 50%;
}
.description {
  font-size: 1em;
  margin-top: 1em;
  text-align: left;
}

.myButton {
  border: none;
  color: black;
  background-color: var(--red);
  padding: 0.5em 2em;
  border-radius: 0.25em;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5em;
  transition: background-color 0.5s ease-in-out;
}
.myButton:hover {
  background-color: var(--red-light);
}
ol {
  list-style: none;
}
ol svg.lucide,
.getInvolved svg.lucide {
  width: 1.8em;
  height: 1.8em;
  margin-right: 0.25em;
  cursor: pointer;
}
ol svg.lucide {
  transition: stroke 0.5s ease-in-out;
  stroke: var(--red);
}
ol svg.lucide:hover {
  stroke: var(--green);
}

.getInvolved svg.lucide {
  transition: stroke 0.5s ease-in-out;
  stroke: var(--green);
}

.getInvolved svg.lucide:hover {
  stroke: var(--red);
}

.footer {
  text-align: center;
  margin-bottom: 2em;
}

footer a {
  text-decoration: none;
}
footer svg {
  margin-top: 4em;
  margin-left: 0.5em;
  width: 2.5em;
  height: 2.5em;
  stroke-width: 1.5px;
  stroke: var(--cream);
  transition: stroke 0.5s ease-in-out; /* Added transition property */
}

footer a:hover svg {
  stroke: var(--red);
}

.library {
  font-size: 1.2em;
  color: var(--green-dark);
  text-align: center;
  margin-bottom: 1em;
}
.library a {
  color: var(--green-dark);
}
